<div class="pagina bg-primary-light" id="contacte">
  <div class="flex flex-col lg:flex-row gap-20 justify-around lg:w-9/12 md:w-10/12 sm:w-full  mt-3 px-12 sm:px-4 pb-10">
    <div class="card p-10">
      <h1 class="py-4 text-3xl md:text-2xl sm:text-xl font-bold tracking-tight text-secondary text-center">Contacta amb
        nosaltres!
      </h1>
      <form name="contacte__form" method="post" netlify>
        <include src="./views/components/input.html" locals='{
          "title": "Nom i cognoms",
          "text": "nom",
          "type":"text",
          "placeholder":"",
          "required":true
          }'>
        </include>
        <include src="./views/components/input.html" locals='{
          "title": "Correu electrònic",
          "text": "email",
          "type":"email",
          "placeholder":"exemple@exemple.com",
          "required":true
          }'>
        </include>
        <div class="my-5">
          <label for="why" class="block text-sm font-medium leading-6 text-secondary">La meua consulta tracta
            sobre...</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <select id="why" name="why"
              class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 bg-primary-transparent focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              <option disabled selected>Tria una o varies opcions</option>
              <option value="1">Tornejos</option>
              <option value="2">Classes i entrenaments</option>
              <option value="3">Lliga juvenil</option>
              <option value="4">Activitats extra</option>
              <option value="5">Altres..</option>
            </select>
          </div>
        </div>
        <div class="my-5">
          <label for="text" class="block text-sm font-medium leading-6 text-secondary">Missatge</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <textarea name="text" id="text" rows="3"
              class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 bg-primary-transparent focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
        <div class="my-5">
          <input class="accent-secondary w-4 h-4" id="check_info" type="checkbox" value="1" checked>
          <label class="text-sm leading-6 text-gray-900" for="check_info">
            Subscriu-te i reb totes les novetats al correu electrònic!
          </label>
        </div>
        <div class="flex justify-center my-6">
          <button
            class="text-secondary font-bold border-secondary rounded-lg border-2 hover:bg-secondary hover:text-white block px-3 py-2 text-end font-medium"
            type="submit">Enviar</button>
        </div>
      </form>
      <div class="alert bg-lime-100" role="alert" id="alert-success">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-8 h-8  sm:w-9 sm:h-9 text-lime-600">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>

        <p>Gràcies per contactar amb nosaltres, prompte tindràs notícies!</p>
      </div>
      <div class="alert bg-red-100" role="alert" id="alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-8 h-8 sm:w-9 sm:h-9 text-red-600">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
        </svg>
        <p>Oh, oh, alguna cosa no ha anat bé.. Prova a enviar-ho de nou!</p>
      </div>

    </div>
    <div class="card p-10">
      <h1 class="py-4 text-3xl md:text-2xl sm:text-xl font-bold tracking-tight text-secondary text-center">On pots
        trobar-nos?</h1>
      <div class="my-3">
        <div class="flex gap-2 text-lg font-semibold"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
          </svg>
          <p>Recinte:</p>
        </div>
        <p class="mx-10"> Pavelló Municipal d'Esports</p>
      </div>
      <div class="my-3">
        <div class="flex gap-2 text-lg font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
          </svg>
          <p>Adreça:</p>
        </div>
        <p class="mx-10">Carrer de Gabriel Miró, 32A, 46780 Oliva, Valencia</p>
      </div>
      <div class="my-3">
        <div class="flex gap-2 text-lg font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
          </svg>
          <p>Telèfon:</p>
        </div>
        <p class="mx-10"> +34 123 456 789</p>
      </div>
      <div class="flex justify-center">
        <iframe class="w-full h-64 lg:h-72"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12416.129938710532!2d-0.113136!3d38.923235!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61e660466c80e1%3A0xe170ad65a076cbbd!2sPavell%C3%B3%20Municipal%20d&#39;Esports%20(Poliesportiu)!5e0!3m2!1sca!2ses!4v1702558216878!5m2!1sca!2ses"
          loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>