<footer class="bg-violet-100 flex flex-col justify-center items-center">
  <hr class="w-1/2 mx-12 border-secondary">
  <div class="flex flex-row  w-full justify-between items-center">
    <div class="mx-auto">
      <img class="h-20 w-auto object-scale-down " src="/src/assets/images/logo.png" alt="Logo club AnisTenis">
    </div>
    <div class="mx-12 my-10">
      <ul class="flex flex-row sm:flex-col gap-x-8 text-center justify-between list-none">
        <li>
          <a class="font-bold text-secondary" href="https://rfusterb-pac2.netlify.app/" target="_blank">Inici</a>
        </li>
        <li>
          <a class="font-bold text-secondary " data-target='participants' href="#">Participants</a>
        </li>
        <li>
          <a class="font-bold text-secondary " href="https://rfusterb-pac2.netlify.app/" target="_blank">Informació</a>
        </li>
        <li>
          <a class="font-bold text-secondary" data-target='contacte' href="#">Contacta'ns</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto">
      <a class="font-bold text-secondary" href="https://twitter.com/?lang=ca" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a class="font-bold text-secondary" href="https://www.facebook.com/?locale=ca_ES" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a class="font-bold text-secondary" href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-row w-full justify-around items-center px-5 py-5 bg-uoc">
    <div class="mx-auto">
      <img class="object-scale-down h-20 p-2" src="/src/assets/images/logo_uoc.png" alt="Logo UOC">
    </div>
    <div class="mx-auto">
      <p class="text-xxs font-bold text-white">Aquesta pàgina s'ha creat exclusivament per a l'assignatura
        "Eines HTML i CSS II" del Màster "Desenvolupament de llocs i aplicacions web" de la UOC</p>
      <p class="text-xxs font-bold text-white">&copy; Novembre 2023 - Roser Fuster Bertomeu </p>
    </div>
  </div>
</footer>