<header class="bg-primary-light">
  <nav class="px-10 sm:px-6">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-shrink-0 items-center">
        <a href="https://rfusterb-pac2.netlify.app/" target="_blank">
          <img class="h-14 w-auto" src="/src/assets/images/logo.png" alt="Logo club AnisTenis">
        </a>
      </div>
      <div class="flex space-x-4 sm:hidden">
        <a href="#" class="text-secondary font-bold rounded-md px-3 py-2 text-sm font-medium"
          data-target='participants'>Participants</a>
        <a href="https://rfusterb-pac2.netlify.app/"
          class="text-secondary font-bold rounded-md px-3 py-2 text-sm font-medium" target="_blank">Informació</a>
        <a href="#" class="text-secondary font-bold rounded-md px-3 py-2 text-sm font-medium"
          data-target='contacte'>Contacta'ns</a>
      </div>
      <div class="absolute hidden py-10 right-0 items-end sm:block">
        <button type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-secondary hover:bg-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary"
          aria-controls="mobile-menu" aria-expanded="false">
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </nav>
</header>