<header class="bg-violet-100">
  <nav>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-between sm:items-between sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="https://rfusterb-pac2.netlify.app/" target="_blank"><img class="h-14 w-auto"
                src="/src/assets/images/logo.png" alt="Logo club AnisTenis">
            </a>
          </div>
          <div class="sm:ml-6 sm:hidden">
            <div class="flex space-x-4">
              <a href="#"
                class="text-secondary font-bold hover:bg-secondary hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                data-target='participants'>Participants</a>
              <a href="https://rfusterb-pac2.netlify.app/"
                class="text-secondary font-bold hover:bg-secondary hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                target="_blank">Informació</a>
              <a href="#"
                class="text-secondary font-bold hover:bg-secondary hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                data-target='contacte'>Contacta'ns</a>
            </div>
          </div>
        </div>
        <div class="absolute hidden py-10 right-0 flex items-end sm:block">
          <button type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-secondary hover:bg-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hidden sm:block justify-end" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#"
          class="text-secondary font-bold hover:bg-secondary hover:text-white block rounded-md px-3 py-2 text-end font-medium"
          data-target='participants'>Participants</a>
        <a href="https://rfusterb-pac2.netlify.app/"
          class="text-secondary font-bold hover:bg-secondary hover:text-white block rounded-md px-3 py-2 text-end font-medium"
          target="_blank">Informació</a>
        <a href="#"
          class="text-secondary font-bold hover:bg-secondary hover:text-white block rounded-md px-3 py-2 text-end font-medium"
          data-target='contacte'>Contacta'ns</a>
      </div>
    </div>
  </nav>
</header>