<div class="pagina bg-violet-100 px-12 pb-10" id="participants">
  <h1 class="py-4 text-3xl font-bold tracking-tight text-secondary text-center sm:text-4xl">Membres destacats del club
    AnisTenis</h1>
  <div class="grid gap-x-8 gap-y-12 sm:grid-cols-1 sm:gap-y-16 md:grid-cols-2 md:gap-y-12 lg:grid-cols-3 lg:gap-y-10">
    <include src="./views/components/card.html" locals='{
      "title": "Laia Montserrat",
      "text_1": "Edat: 31",
      "text_2":"Victories: 20",
      "img_url":"/src/assets/images/participant_1.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Vicent Castelló",
      "text_1": "Edat: 28",
      "text_2":"Victories: 15",
      "img_url":"/src/assets/images/participant_2.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Pau Roca",
      "text_1": "Edat: 25",
      "text_2":"Victories: 12",
      "img_url":"/src/assets/images/participant_3.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Elena Solana",
      "text_1": "Edat: 22",
      "text_2":"Victories: 18",
      "img_url":"/src/assets/images/participant_4.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Aitana Giner",
      "text_1": "Edat: 26",
      "text_2":"Victories: 14",
      "img_url":"/src/assets/images/participant_5.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Sara Taronger",
      "text_1": "Edat: 24",
      "text_2":"Victories: 17",
      "img_url":"/src/assets/images/participant_6.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Alex Salort",
      "text_1": "Edat: 31",
      "text_2":"Victories: 15",
      "img_url":"/src/assets/images/participant_7.png"
      }'>
    </include>
    <include src="./views/components/card.html" locals='{
      "title": "Maria Bertomeu",
      "text_1": "Edat: 25",
      "text_2":"Victories: 18",
      "img_url":"/src/assets/images/participant_8.png"
      }'>
    </include>
  </div>
</div>