<div class="participants pagina" id="participants">
  <h1 class="participants__titol text-blue-600">Membres destacats del club AnisTenis</h1>
  <div class="participants__contenidor">
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_1.png" alt="Imatge de Laia Montserrat">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-center">Laia Montserrat</div>
        <p class="text-gray-700 text-base text-center">Edat: 31</p>
        <p class="text-gray-700 text-base text-center">Victories: 20</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_2.png" alt="Imatge de Vicent Castelló">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Vicent Castelló</h5>
        <p class="text-gray-700 text-base text-center">Edat: 28</p>
        <p class="text-gray-700 text-base text-center">Victories: 15</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_3.png" alt="Imatge de Pau Roca">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Pau Roca</h5>
        <p class="text-gray-700 text-base text-center">Edat: 25</p>
        <p class="text-gray-700 text-base text-center">Victories: 12</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_4.png" alt="Imatge de Elena Solana">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Elena Solana</h5>
        <p class="text-gray-700 text-base text-center">Edat: 22</p>
        <p class="text-gray-700 text-base text-center">Victories: 18</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_5.png" alt="Imatge de Aitana Giner">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Aitana Giner</h5>
        <p class="text-gray-700 text-base text-center">Edat: 26</p>
        <p class="text-gray-700 text-base text-center">Victories: 14</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_6.png" alt="Imatge de Sara Taronger">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Sara Taronger</h5>
        <p class="text-gray-700 text-base text-center">Edat: 24</p>
        <p class="text-gray-700 text-base text-center">Victories: 17</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_7.png" alt="Imatge de Alex Salort">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Alex Salort</h5>
        <p class="text-gray-700 text-base text-center">Edat: 31</p>
        <p class="text-gray-700 text-base text-center">Victories: 15</p>
      </div>
    </div>
    <div class="card">
      <img class="w-full object-cover" src="/src/assets/images/participant_8.png" alt="Imatge de Maria Bertomeu">
      <div class="px-6 py-4">
        <h5 class="font-bold text-xl mb-2 text-center">Maria Bertomeu</h5>
        <p class="text-gray-700 text-base text-center">Edat: 25</p>
        <p class="text-gray-700 text-base text-center">Victories: 18</p>
      </div>
    </div>
  </div>
</div>